@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url("landscape.jpg");
    background-size: cover;
}

.navbar{
    position: static;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index:1;
}

.navbar a{
    display: block;
  

}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    color:white;

}
.nav-links{
    height: 50px;
    background-color: rgba(225, 225, 225, 0.20);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 20px;
    
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li a:hover{
    transition: all 0.5s ease-in-out;
    color: red;
    cursor: pointer;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 30px;

}


@media screen and (max-width:900px){

  
    .navbar{
        padding: 0;
    }
    .navbar .menu-hamburger{
        display: block;
   
    }

    .navbar .logo{
        position: absolute;
        font-size: 0.9EM;
        top: 40px;
        left: 25px;
        transition: all 0.5s ease-in-out;
        
    }
    .logo.shift-right {
        left: 35%;
        transition: all 0.5s ease-in-out;
    }
    .nav-links{
      background-color:rgba(225, 225, 225, 0.20);
        backdrop-filter: blur(8px);
        display: none;
        width: 30%;
        height: 100vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease-in-out;
        overflow-y: auto;
    }

    /* Agregar clase mobile-menu */
    .mobile-menu {
        margin-left: 0%;
        transition: 0.5s ease-in-out;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size:  1.2em;
        font-weight: bold;
    }



}